{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>

  <section class="mt-12 prose flex max-w-full flex-col dark:prose-invert">
    <div class="min-w-0 min-h-0 max-w-prose w-full">
      {{ .Content }}
    </div>
  </section>

  {{ range site.Data.publications }}
    <h2 class="mt-12 mb-3 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
      {{ .year }}
    </h2>
    <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
      {{ range .items }}
        {{ partial "publication-card.html" . }}
      {{ end }}
    </section>
  {{ end }}

{{ end }}